@import "./styles/colors.scss";
@import "./styles/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__header {
  background-color: #222;
  color: $white;
  padding: 10px 80px 40px;

  &-title {
    color: $main-red;
  }

  &-search {
    margin-top: 50px;
  }
}

.header-search {
  &__label {
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    background-color: $black;
    color: $white;
    border: 0;
    border-bottom: 2px solid $main-red;
    outline: 0;
  }

  &__controls-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    text-transform: uppercase;

    .controls-container {
      &__filters {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        height: 30px;
        align-items: center;
        font-size: 14px;

        .filters__option, .filters__label {
          margin: 0 10px;
        }

        .filters__option {
          height: 30px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          background-color: $dark-grey;
          input {
            display: none;
          }
        }
      }
  
      &__submit {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        .submit__submit-button {
          height: 40px;
          width: 200px;
          text-transform: uppercase;
          background-color: $main-red;
          color: $white;
          border: 0;
        }
      }
    }
  }
}

.header__additional-info {
  height: 50px;
  background-color: $light-grey;
  color: $black;
  display: flex;
  align-items: center;
  padding: 10px 80px;
  font-weight: bold;

  .additional-info {
    &__results-founded {
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;

      .results-founded {
        &__count {
          margin-right: 5px;
        }
      }
    }

    &__sorting-options {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      .sorting-options {
        &__option {
          margin-left: 15px;

          input {
            display: none;
          }
        }
      }
    }
  }
}

.app__films-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 60px 80px;

  @media (max-width: $screen-md-max) {
    justify-content: space-around;
  }

  @media (min-width: $screen-md-max) {
    justify-content: space-between;
  }

  .films-container__film {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 20px 40px;
  }

  .film {
    &__cover {
      height: 300px;
      width: 250px;
    }

    &__category {
      margin: 10px 0;
    }

    &__main-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .main-info {
        &__title {
          margin: 10px 0;
          text-transform: uppercase;
        }

        &__year {
          display: flex;
          align-items: center;
          font-size: 12px;
          border: 1px solid $dark-grey;
          height: 20px;
          padding: 0 5px;
        }
      }
    }
  }
}

.app__footer {
  height: 60px;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  padding: 0 80px;

  .footer__text {
    color: $main-red;
  }
}
