@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.app__films-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 60px 80px;

  a {
    text-decoration: none;
    color: $black;
  }

  @media (max-width: $screen-md-max) {
    justify-content: space-around;
  }

  @media (min-width: $screen-md-max) {
    justify-content: space-between;
  }

  .films-container__film {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 20px 40px;
  }

  .films-container__no-films {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .no-films__label {
        font-size: 40px;
        color: $grey;
    }
  }
}
