@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.film {
  &__cover {
    height: 300px;
    width: $film-block-width;
  }

  &__category {
    margin: 10px 0;
    max-width: $film-block-width;
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-info {
      &__title {
        margin: 10px 0;
        text-transform: uppercase;
        max-width: 200px;
      }

      &__year {
        display: flex;
        align-items: center;
        font-size: 12px;
        border: 1px solid $dark-grey;
        height: 20px;
        padding: 0 5px;
      }
    }
  }
}
